body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.menu-list {
  margin-top: 16px;
}

.header {
  display: flex;
  padding: 0;
  margin-bottom: 16px;
}

.container {
  padding: 4rem;
}

.card-action {
  display: flex;
  justify-content: flex-end;
}

.card-content {
  height: 160px;
  overflow-y: auto;
}
